window {
    background-color: transparent;
}

grid {
    background-color: {{colors.surface.default.hex}};
    border: 2px solid {{colors.primary.default.hex}};
    border-radius: 20px;
    padding: 10px;
    margin-top: 430px;
    margin-bottom: 470px;
    margin-left: 550px;
    margin-right: 780px;
}

button {
    all: unset;
    background-color: transparent;
    border: 2px solid {{colors.primary.default.hex}};
    border-radius: 15px;
    min-width: 110px;
    min-height: 110px;
    color: #ffffff;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 55px;
    margin: 10px;
    padding-bottom: 40px;
}

button label {
    margin: 0px;
    padding: 0px;
}

button:hover {
    background-color: {{colors.primary.default.hex}};
    color: {{colors.surface.default.hex}};
}

#lock, #logout, #suspend, #reboot, #shutdown {
    background-image: none;
}
